.btn {
    width: 172px;
    height: 48px;
    border-radius: 49.5px;
    background: #ffc80a;
    color: #292929;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    border: none;
}
